$violet: #757195;

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 90%;

    .link {
      text-decoration: none;
      color: inherit;
    }

    //LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $violet;

      h1 {
        font-size: 20px;
        color: black;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: #757195;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
          color: black;
        }
      }
    }

    //NAVBAR

    .navbar {
      .container {
        padding: 10px 0px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          img {
            width: 120px;
          }
        }

        .link {
          font-size: 1.5rem;
        }

        .links {
          display: flex;
          align-items: center;
          gap: 2rem;

          ul {
            list-style: none;
            display: flex;
            gap: 1rem;

          }

          a {
            font-size: 1.5rem;
            color: inherit;
            text-decoration: none;
          }

          li:hover {
            color: #a577bb;
          }

          // li.active{
          //   color: #333;
          // }

          // h6 {
          //   font-size: 16px;
          //   font-weight: 300;
          // }

          span {
            cursor: pointer;
            font-size: 1.5rem;
          }

          .write {
            background-color: $violet;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;
            color: white;

            &:hover {
              color: #757195;
              background-color: white;
              border: 1px solid #757195;
            }
          }
        }
      }
    }

    //FOOTER



    //HOME

    .home {
      .posts {
        margin-top: 50px;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            // position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $violet;
              // position: absolute;
              // top: 20px;
              // left: -20px;
              // z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: 40px;

            h1 {
              font-size: 48px;
            }

            p {
              font-size: 18px;
              margin-top: 20px;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: #757195;
              border: 1px solid #757195;
              color: #757195;
              margin-top: 20px;

              &:hover {
                border: 1px solid white;
                background-color: $violet;
                color: black;
              }
            }
          }
        }
      }
    }

    //SINGLE

    .single {
      display: flex;
      gap: 50px;


      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: #757195;
            background-color: white;
            border: 1px solid #757195;

            &:hover {
              border: 1px solid white;
              background-color: $violet;
              color: black;
            }
          }
        }
      }
    }

    //WRITE
    //footer

    footer {
      position: relative;
      background-color: $violet;
      text-align: center;
      margin-top: 30px;
    }

    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100vw;
      margin: 0 auto;
    }

    .contact-us {
      flex: 1;
      margin-right: 50px;

      p {
        color: white;
      }

    }

    .social-media {
      flex: 1;
      margin-right: 50px;

    }

    .categories {
      flex: 1;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      // display: flex;
      // flex-direction: column;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      color: #555;
      text-decoration: none;
      font-size: 16px;
    }

    a:hover {
      text-decoration: underline;
    }


    //

    h3 {
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      width: 90%;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1 {
            font-size: 20px;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              cursor: pointer;
              color: #757195;
              background-color: white;
              border: 1px solid #757195;
              padding: 3px 5px;
            }

            :last-child {
              cursor: pointer;
              color: white;
              background-color: #757195;
              border: 1px solid #757195;
              padding: 3px 5px;
            }
          }

          .cat {
            display: flex;
            align-items: center;
            gap: 2px;
            color: #757195;
          }
        }
      }
    }
  }
}


//media query

@media(max-width:400px) {

  .app {
    display: flex;
    justify-content: center;

    .container {
      width: 90%; //

      .home {
        .posts {
          margin-top: 50px;
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 150px;

          .post {
            display: flex;
            gap: 100px;
            flex-direction: column;

            &:nth-child(2n + 1) {
              flex-direction: row-reverse;
            }

            .img {
              // flex: 2;
              // position: relative;
              display: none;

              &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: $violet;
                // position: absolute;
                // top: 20px;
                // left: -20px;
                // z-index: -1;
              }

              img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                display: none;
              }
            }

            .content {
              // flex: 3;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              h1 {
                font-size: 24px;
              }

              p {
                font-size: 9px;
                margin-top: 10px;
              }

              button {
                width: max-content;
                padding: 5px 10px;
                border: none;
                cursor: pointer;
                background-color: #757195;
                border: 1px solid #757195;
                color: #757195;
                margin-top: 10px;

                &:hover {
                  border: 1px solid white;
                  background-color: $violet;
                  color: black;
                }
              }
            }
          }
        }
      }

      // }

      //single

      .single {
        display: flex;
        gap: 50px;
        flex-direction: column;


        .content {
          // flex: 5;
          display: flex;
          flex-direction: column;
          gap: 30px;

          img {
            width: 60%;
            height: 150px;
            object-fit: contain;
            // display: none;
          }

          .user {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 3.5px;

            img {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              object-fit: cover;
              // display: none;
            }

            span {
              font-weight: bold;
            }
          }

          .edit {
            display: flex;
            gap: 2.5px;

            img {
              width: 10px;
              height: 10px;
              cursor: pointer;
            }
          }

          h1 {
            font-size: 24px;
            color: #333;
          }

          p {
            text-align: justify;
            line-height: 25px;
            width: 80%;
          }
        }

        .menu {
          // flex: 2;
          display: flex;
          // flex-direction: column;
          gap: 15px;

          h1 {
            font-size: 10px;
            color: #555;
          }

          .post {
            display: flex;
            flex-direction: column;
            gap: 5px;

            img {
              width: 60%;
              height: 200px;
              object-fit: contain;
              // display: none;
            }

            h2 {
              color: #555;
            }

            button {
              width: max-content;
              padding: 5.5px 10px;
              border: none;
              cursor: pointer;
              color: #757195;
              background-color: white;
              border: 1px solid #757195;

              &:hover {
                border: 1px solid white;
                background-color: $violet;
                color: black;
              }
            }
          }
        }
      }

      //navbar


      .navbar {
        .container {
          padding: 10px 0px;
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .logo {
            img {
              width: 40px;

            }
          }

          .link {
            font-size: 0.2rem;
          }

          .links {
            display: flex;
            align-items: center;
            gap: 0.2rem;

            ul {
              list-style: none;
              display: flex;
              gap: 0.2remrem;
              display: none;

            }

            a {
              font-size: 0.5rem;
              color: inherit;
              text-decoration: none;
            }

            li:hover {
              color: #a577bb;
            }

            // li.active{
            //   color: #333;
            // }

            // h6 {
            //   font-size: 16px;
            //   font-weight: 300;
            // }

            span {
              cursor: pointer;
              font-size: 0.5rem;
            }

            .write {
              background-color: $violet;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 300;
              border: 1px solid white;
              color: white;

              &:hover {
                color: #757195;
                background-color: white;
                border: 1px solid #757195;
              }
            }
          }
        }
      }
    }
  }

  // footer

  footer {
    position: relative;
    background-color: $violet;
    text-align: center;
    margin-top: 30px;
    // height: 60%;
    height: auto;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    margin: 0 auto;
  }

  //navbar






}